<ion-header>
  <ion-toolbar>
    <ion-title>
      Hot Dog
    </ion-title>
   
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <div >
      <ion-card>
        <ion-card-content>
          <ion-card-title>
            <ion-img ></ion-img>
            Hot Dog Simples
          </ion-card-title>
          <ion-card-subtitle>
           Pão, Salsisha, Mostarda e Ketchup.
          </ion-card-subtitle>
          <p style="text-align: right" color="danger">R$5,00</p>
            <ion-button color="warning"  size='small' [routerLink]='["/finalizarPedido"]'>Comprar</ion-button>
        </ion-card-content>
      </ion-card>
      <ion-card>
        <ion-card-content>
          <ion-card-title>
            <ion-img ></ion-img>
            Hot Dog Completo
          </ion-card-title>
          <ion-card-subtitle>
           Pão, Purê, Salsisha, Alface, Batata Palha, Mostarda e Ketchup.
          </ion-card-subtitle>
          <p style="text-align: right">R$8,00</p>
          <ion-button color="warning"  size='small'>Comprar</ion-button>
        </ion-card-content>
        </ion-card>
        <ion-card>
          <ion-card-content>
          <ion-card-title>
            <ion-img ></ion-img>
            Super Hot Dog
          </ion-card-title>
          <ion-card-subtitle>
            Pão, Purê, Salsisha, Alface, Batata Palha, Milho, Mostarda e Ketchup.
          </ion-card-subtitle>
          <p style="text-align: right">R$10,50</p>
          <ion-button color="warning"  size='small'>Comprar</ion-button>
        </ion-card-content>
        </ion-card>
    </div>
  </div>
</ion-content>
